<div class="container">
  <h1 class="text-4xl font-bold text-center mt-4 mb-6">{{ header() }}</h1>

  <div class="products flex flex-wrap justify-between gap-4">
    <div
      class="product flex flex-col cursor-pointer"
      *ngFor="let product of visibleProducts"
      (click)="goToDetails(product.id)"
    >
      <img
        [src]="product.img"
        loading="lazy"
        alt="{{ product.name }}"
        class="w-[350px] h-[350px] object-cover rounded-[20px] mb-6"
      />
      <h2 class="pro-name mb-4 text-2xl">{{ product.name }}</h2>

      <div class="flex items-center gap-2">
        <div class="flex items-center gap-1 text-yellow-500 text-xl">
          <ng-container *ngFor="let star of getStars(product.rate)">
            <ng-container [ngSwitch]="star">
              <i *ngSwitchCase="'full'" class="fas fa-star"></i>
              <i *ngSwitchCase="'half'" class="fas fa-star-half-alt"></i>
              <i *ngSwitchCase="'empty'" class="far fa-star"></i>
            </ng-container>
          </ng-container>
        </div>
        <span>
          {{ product.rate }}/
          <span class="text-[#00000099] opacity-60">5</span>
        </span>
      </div>

      <div class="text-xl flex gap-5 items-center mt-5">
        <p class="font-bold text-2xl">${{ product.price }}</p>
        <p
          *ngIf="product.mainPrice"
          class="line-through text-[#00000066] opacity-60 font-bold text-2xl"
        >
          ${{ product.mainPrice }}
        </p>
        <p
          *ngIf="product.discountPricePrecntge"
          class="bg-[#FF33331A] text-[#FF3333] p-2 rad w-[100px] text-center"
        >
          {{ product.discountPricePrecntge }} %
        </p>
      </div>
    </div>
  </div>

  <div
    [@expandCollapse]="showAll ? 'expanded' : 'collapsed'"
    class="overflow-hidden w-full"
  >
    <div class="products flex flex-wrap justify-between gap-4 mt-5">
      <div
        class="product flex flex-col cursor-pointer"
        *ngFor="let product of extraProducts"
        (click)="goToDetails(product.id)"
      >
        <img
          [src]="product.img"
          alt="{{ product.name }}"
          class="w-[350px] h-[350px] object-cover rounded-[20px] mb-6"
        />
        <h2 class="pro-name mb-4 text-2xl">{{ product.name }}</h2>

        <div class="text-xl flex items-center gap-2">
          <div class="flex items-center gap-1 text-yellow-500">
            <ng-container *ngFor="let star of getStars(product.rate)">
              <ng-container [ngSwitch]="star">
                <i *ngSwitchCase="'full'" class="fas fa-star"></i>
                <i *ngSwitchCase="'half'" class="fas fa-star-half-alt"></i>
                <i *ngSwitchCase="'empty'" class="far fa-star"></i>
              </ng-container>
            </ng-container>
          </div>
          <span>
            {{ product.rate }}/
            <span class="text-[#00000099] opacity-60">5</span>
          </span>
        </div>

        <div class="text-xl flex gap-5 items-center mt-5">
          <p class="font-bold text-2xl">${{ product.price }}</p>
          <p
            *ngIf="product.mainPrice"
            class="line-through text-[#00000066] opacity-60 font-bold text-2xl"
          >
            ${{ product.mainPrice }}
          </p>
          <p
            *ngIf="product.discountPricePrecntge"
            class="bg-[#FF33331A] text-[#FF3333] p-2 rounded-md"
          >
            {{ product.discountPricePrecntge }} %
          </p>
        </div>
      </div>
    </div>
  </div>

  <button class="text-[#000000] font-bold mt-5 br" (click)="toggleView()">
    {{ showAll ? "View Less" : "View All" }}
  </button>
</div>
