<div class="browse">
  <div class="container bg-[#F0F0F0] p-10 rounded-3xl">
    <h1 class="text-4xl font-bold text-center mt-4 mb-6">
      BROWSE BY DRESS STYLE
    </h1>

    <div class="styles flex flex-wrap p-10 gap-10 justify-center">
      <div
        class="style flex rounded-3xl bg-white basis-[30%]"
        routerLink="/products"
      >
        <h3 class="font-bold text-3xl pt-5 pl-5">Casual</h3>
        <img src="imgs/BROWSE/Casual.png" alt="" />
      </div>

      <div
        class="style bg-white rounded-3xl basis-[60%]"
        routerLink="/products"
      >
        <h3 class="font-bold text-3xl pt-5 pl-5">Formal</h3>
        <img src="imgs/BROWSE/Formal.png" alt="" />
      </div>

      <div
        class="style bg-white rounded-3xl basis-[60%]"
        routerLink="/products"
      >
        <h3 class="font-bold text-3xl pt-5 pl-5">Party</h3>
        <img src="imgs/BROWSE/Party.png" alt="" />
      </div>

      <div
        class="style rounded-3xl bg-white basis-[30%]"
        routerLink="/products"
      >
        <h3 class="font-bold text-3xl pt-5 pl-5">gym</h3>
        <img src="imgs/BROWSE/gym.png" alt="" />
      </div>
    </div>
  </div>
</div>
