.for-back {
  background-color: #ecebeb;
  //   background-color: red;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.active {
  background-color: #0000000f;
  color: #000000 !important;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  opacity: 1;
}
button.inactive {
  background-color: #f0f0f0;
  color: #999;
  opacity: 0.5;
}

@media (max-width: 620px) {
  .for-back {
    width: 100%;
  }
}
