.customers {
  .container {
    .header {
      h1 {
        font-family: "Integral CF Bold Oblique", sans-serif !important;
      }
      .arrows {
        img {
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

img {
  max-width: none !important;
  width: 15px !important;
}

.customer-card {
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: 800px) {
  .customers {
    margin-bottom: 100px;
  }
}
