<div class="footer bg-[#F0F0F0] p-5 relative">
  <div
    class="update bg-black flex items-center justify-between p-4 rounded-2xl"
  >
    <h1 class="text-3xl mb-4 text-white m-0">
      STAY UPTO DATE ABOUT <br />OUR LATEST OFFERS
    </h1>
    <div class="subs relative flex flex-col">
      <div class="input-wrapper relative">
        <img src="imgs/icons/send.png" alt="" class="send-icon w-6" />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email address"
        />
      </div>
      <button>Subscribe to Newsletter</button>
    </div>
  </div>
  <div class="container">
    <div class="flex items-start justify-between gap-3">
      <div class="logo">
        <h2 class="font-bold text-xl mb-1">SHOP.Co</h2>
        <p class="text-[#00000099] opacity-60 mt-3">
          We have clothes that suits your style and <br />
          which you’re proud to wear. From <br />
          women to men.
        </p>
        <div class="social flex items-center gap-2 mt-3">
          <img src="imgs/social-icon/x.png" alt="" class="p-2 bg-white" />
          <img src="imgs/social-icon/face.png" alt="" class="bg-black p-2" />
          <img src="imgs/social-icon/inst.png" alt="" class="p-2 bg-white" />
          <img src="imgs/social-icon/gitHub.png" alt="" class="p-2 bg-white" />
        </div>
      </div>
      <div class="company">
        <h3>COMPANY</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Features </a></li>
          <li><a href="#">Works </a></li>
          <li><a href="#">Career </a></li>
        </ul>
      </div>
      <div class="help">
        <h3>HELP</h3>
        <ul>
          <li>
            <a href="#">Customer Support </a>
          </li>
          <li><a href="#">Delivery Details </a></li>
          <li><a href="#">Terms & Conditions </a></li>
          <li><a href="#">Privacy Policy </a></li>
        </ul>
      </div>
      <div class="faq">
        <h3>FAQ</h3>
        <ul>
          <li><a href="#">Account</a></li>
          <li><a href="#">Account </a></li>
          <li><a href="#">Manage Deliveries </a></li>
          <li><a href="#">Orders Payments </a></li>
        </ul>
      </div>
      <div class="resources">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Free eBooks </a></li>
          <li><a href="#">Development Tutorial </a></li>
          <li><a href="#">How to - Blog </a></li>
          <li><a href="#">Youtube Playlist </a></li>
        </ul>
      </div>
    </div>
    <hr class="text-[#0000001A]" />
    <div class="pay flex items-center gap-3 justify-between mt-5">
      <p class="text-[#00000099] opacity-60">
        Shop.co © 2000-2025, All Rights Reserved
      </p>
      <div class="payment flex items-center gap-3">
        <img
          src="imgs/pay/Visa.png"
          alt=""
          class="bg-white p-3 text-center rounded-lg"
        />
        <img
          src="imgs/pay/Mastercard.png"
          alt=""
          class="bg-white p-3 text-center rounded-lg"
        />
        <img
          src="imgs/pay/Paypal.png"
          alt=""
          class="bg-white p-3 text-center rounded-lg"
        />
        <img
          src="imgs/pay/applePay.png"
          alt=""
          class="bg-white p-3 text-center rounded-lg"
        />
        <img
          src="imgs/pay/GPay.png"
          alt=""
          class="bg-white p-3 text-center rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
